/* Make a navbar with .Navbar element */
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #a7bde8;
  color: white;
}
.navlinks {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #a7bde8;
  color: white;
}
ul {
  list-style-type: none;
}

.cart {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
